:root {
    --jumbotron-padding-y: 3rem;
}

.bg-dark {
    background-color: #0B0B61!important;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: lightblue;
    background-image: url("../images/earth_horizon_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 0%;
}

.jumbotron-heading {
    font-size: 3rem;
    font-weight: bolder;
}

.card-img-top {
    width: 30%;
    border-radius: 50%;
}

.jumbotron-text {
    font-size: 2rem;
}

