nav {
    background-color: black;
}


#portfolio-logo {
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 20px;
    color: white;

}

#navbarNav {
    overflow: hidden;
}

#navbarNav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Baloo Chettan", sans-serif;
}

#navbarNav a:hover {
    background-color: white;
    color: black;
}

#navbarNav .icon {
    display: none;
}


.navbar-header {
    color: white;
}

h1 {
    font-size: 40px;
    font-family: "Baloo Chettan", cursive;
    color: black;
}

h2 {
    font-size: 30px;
    font-family: "Baloo Chettan", cursive;
    color: black;
}

p {
    font-size: 20px;
    font-family: "Baloo Chettan", cursive;
    color: black;
}

#portfolio-photo {
    border-radius: 100%;
}

.portfolio-pics .img {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    font-family: "Baloo Chettan", cursive;
}

button {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Baloo Chettan", cursive;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

figure {
    margin: 30px;
    border: 10px;
}

figcaption {
    font-family: "Baloo Chettan", cursive;
    font-size: 20px;
    color: white;
    background-color: black;
    width: inherit;
}

footer {
    background-color: black;
    padding: 35px;
    display: flex;
    flex-direction: row;
}




